<!-- <button (click)="next()">Next</button>
@if (monsterId() !== undefined) {
    <p>Monster ID: {{ monsterId() }}</p>
    } @else {
    <p>monster works!</p>
} -->
<div class="preview">
    <app-playing-card [monster]="monster"/>
</div>
<div class="main">

<form [formGroup]="formGroup" (submit)="submit($event)">
<mat-form-field>
    <mat-label for="name">Name</mat-label>
    <input matInput id="name" name="name" type="text" formControlName="name"/>
    <!-- @if (formGroup.get('name')?.invalid && (formGroup.get('name')?.dirty || (formGroup.get('name')?.touched))) { -->
       @if (isFieldValid('name')) {
        <mat-error>This field is required</mat-error>
    }
</mat-form-field>
<div class="form-field">
    <!-- <label for="imgArt">Image</label> -->
     <button mat-raised-button type="button" (click)="imageInput.click()">
        Upload file: {{imageInput.files?.[0]?.name || '...'}}
        </button>
    <input hidden #imageInput id="imgArt" name="imgArt" type="file" (change)="onFileChange($event)"/>
     @if (isFieldValid('imgArt')) {
        <div class="error">This field is invalid</div>
    }
</div>
<mat-form-field>
    <mat-label for="type">Type</mat-label>
    <mat-select id="type" name="type" formControlName="type">
        @for (type of monsterTypes; track type) {
            <mat-option [value]="type">{{type}}</mat-option>
        }
    </mat-select> 
     <!-- @if (isFieldValid('type')) {
        <div class="error">This field is invalid</div>
    } -->
</mat-form-field>
<!-- <div class="form-field">
    <label for="logoEnergie">Logo Energie</label>
    <input id="logoEnergie" name="logoEnergie" type="file" (change)="onFileChange($event)"/>
     @if (isFieldValid('logoEnergie')) {
        <div class="error">This field is invalid</div>
    }
</div> -->
<mat-form-field>
    <mat-label for="hp">HP</mat-label>
    <input matInput id="hp" name="hp" type="number" formControlName="hp" min="1" max="300"/>
     @if (isFieldValid('hp')) {
        @if (formGroup.get('hp')?.hasError('min')) {
            <mat-error>HP must be at least 1</mat-error>
        } @else if (formGroup.get('hp')?.hasError('max')) {
            <mat-error>HP cannot exceed 300</mat-error>
        } @else {
            <mat-error>This field is invalid</mat-error>
        }
    }
</mat-form-field>

<mat-form-field>
    <label for="figureCaption">Figure Caption</label>
    <input matInput id="figureCaption" name="figureCaption" type="text" formControlName="figureCaption"/>
     @if (isFieldValid('figureCaption')) {
        <mat-error>This field is invalid</mat-error>
    }
</mat-form-field>
<mat-form-field>
    <label for="attackName">Attack Name</label>
    <input matInput id="attackName" name="attackName" type="text" formControlName="attackName"/>
     @if (isFieldValid('attackName')) {
        <mat-error>This field is invalid</mat-error>
    }
</mat-form-field>
<mat-form-field>
    <label for="attackStrength">Attack strength</label>
    <input matInput id="attackStrength" name="attackStrength" type="number" formControlName="attackStrength"/>
     @if (isFieldValid('attackStrength')) {
        @if (formGroup.get('attackStrength')?.hasError('min')) {
            <mat-error>HP must be at least 1</mat-error>
        } @else if (formGroup.get('attackStrength')?.hasError('max')) {
            <mat-error>HP cannot exceed 300</mat-error>
        } @else {
            <mat-error>This field is invalid</mat-error>
        }
        }
</mat-form-field>
<mat-form-field>
    <label for="attackDescription">Attack description</label>
    <input matInput id="attackDescription" name="attackDescription" type="text" formControlName="attackDescription"/>
     @if (isFieldValid('attackDescription')) {
        <mat-error>This field is invalid</mat-error>
    }
</mat-form-field>

        <div class="button-container-left">
            <button mat-flat-button color="warn"  type="button" (click)="deleteMonster()" >Delete</button>
        </div>
        <div class="button-container-right">
            <button mat-button (click)="navigateBack()" >Back</button>
            <button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
        </div>
    <!-- <button (click)="setChanged()">Set Changed</button> -->
    </form>
</div>
